<div>
    <pre>selectedHero: {{ selectedHero | json }}</pre>
    <h2>Add new Hero</h2>
    <label>Hero name:</label> <input #heroName />
    <button (click)="AddHero(heroName.value); heroName.value=''">
    Add
  </button>
</div>

<h2>My Heroes LOL</h2>
<ul class="heroes">
    <li [class.selected]="hero === selectedHero" (click)="OnSelectedHero(hero)" *ngFor="let hero of heroes">

        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>

<div *ngIf="selectedHero">
    <hr>
    <h2>
        {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button (click)="GoToDetail()">View Details</button>
</div>
